<!DOCTYPE html>
<html lang="en">

  <head>
	<title> WIFI ATTACK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>拉动条</title>

    <!-- Bootstrap core CSS -->

    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        .text{
            padding: 40px 50px;
            text-align: left;
        }
    </style>



  </head>
  <body>



      <nav class="navbar navbar-inverse navbar-fixed top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <a href="#"class="navbar-brand"><span class="fa fa-wifi"></span></a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                      <li><a href="#">HOME</a></li>
                      <li ><a href="#">WIFI连接</a></li>
                      <li><a href="#">WIFI安全检测</a></li>
                  </ul>
              </div>
          </div>
      </nav>


<a href = "/begin"> begin to monitor the data </a> 

        <div class="container">
    <div class="text">
        <div><h3>WIFI列表</h3></div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">名称</div>
                            <div class="col-md-3">强度</div>
                            <div class="col-md-3">数据流量</div>
                            <div class="col-md-3">IP</div>
                        </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                    </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                    </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                    </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                    </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                    </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                    </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                    </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                    </div>
            </a>
            <a href="#" class="list-group-item">
                    <div class="row">
                            <div class="col-md-3">小猫咪的wifi</div>
                            <div class="col-md-3">100</div>
                            <div class="col-md-3">1000</div>
                            <div class="col-md-3">100.100.100.100</div>
                    </div>
            </a>
                       
            
        </div>
    </div>
        </div>
</body>
</html>
